.vehicle-button {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid black;
}

.vehicle-button:hover {
  background-color: rgb(237, 237, 237);
}

.vehicle-button-pressed,
.vehicle-button-pressed:hover {
  color: white;
  background-color: black;
}

.not-interesting-value {
  color: lightgrey;
}

.vehicle-button-inactive {
  border-color: lightgrey;
  color: lightgrey;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.progress-left {
  height: 5px;
  /* border-radius: 3px; */
  background-color: green;
}

.progress-left-invalid {
  background-color: rgb(237, 237, 237);
}

.progress-box {
  border: 1px solid black;
}

.progress-box-invalid {
  border-color: rgb(237, 237, 237);
}

.progress-right {
  height: 5px;
  /* border-radius: 3px; */
  background-color: white;
}